* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

}

a {
  text-decoration: none;
}


.content{
  min-height: calc(100vh - 200px);
}
.header{
  height: 100px;
  display: flex;
  background: #ccc;
}
.footer{
  height: 100px;
  background: #ccc;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}